/****************************
*   Overwrite scss
*
*************************/
$fayetteville-facts-bg:        #204aca;
$fayetteville-facts-txt-color: #204aca;
$facts-slider-dot-active:      #ffd700;
 

.fayetteville-facts .bx-wrapper .bx-controls-direction a {
         position: absolute;
         top: 0;
         height: 100%;
        font-size: 0;
        overflow: hidden;
        text-indent: -9999px;        
         @include responsive-property("width", 48, 29px, 48px);
         @include responsive-property("right", 60, 5px, 60px);
         background: url('/assets/apptegy_cms/themes/marysvillewa_redesign/arrow-right.png') no-repeat center center;
        background-size: 63% auto;  
        @include opacity(1);
            -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
    
    .fayetteville-facts .bx-wrapper .bx-controls-direction a {
         &.disabled {
             opacity: 0.5;
             cursor: default;
             display: block;
         }
     }
     
     .fayetteville-facts .bx-wrapper .bx-controls-direction a.bx-prev {
         right: auto;
         //@include responsive-property("left", -50, -30px, -50px);
         @include responsive-property("left", 60, 5px, 60px);
         background: url('/assets/apptegy_cms/themes/marysvillewa_redesign/arrow-left.png') no-repeat center center;
         background-size: 63% auto;
    }
.fayetteville-facts {
    margin-bottom: 0px;
    @include responsive-property("padding-left", 50, 20px, 50px);
    @include responsive-property("padding-right", 50, 20px, 50px);
    @include responsive-property("padding-top", 100, 35px, 100px);
    @include responsive-property("padding-bottom", 70, 35px, 70px);
    width: 100%;
        float: none; 
    position: relative;
    clear: both;
    background: $fayetteville-facts-bg;
    
    .bx-wrapper {
        padding-left: 0;
        float: none;
    }
     
    .bx-wrapper:after { 
            content: ' ';
            position: absolute;             
            background: $fayetteville-facts-bg url('/assets/apptegy_cms/themes/marysvillewa_redesign/bulb-icon.png') no-repeat; 
            background-size: contain;
            @include responsive-property("width", 90, 40px, 90px);
            @include responsive-property("height", 90, 40px, 90px);
            @include responsive-property("top", -40, -15px, -40px);
            border: 3px solid generate-text-color($fayetteville-facts-bg);
           @include responsive-property("border-width", 3, 1px, 3px);
            @include border-radius(50%);
            @extend %horizontal-align; 
        }
    .bx-wrapper .bx-controls {
        left: 0;
        top: 0;
        height: auto;
        position: static;
        padding: 0;
        line-height: inherit;
    }
    .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: $facts-slider-dot-active;
    }
        
    .bx-wrapper .bx-pager {
        position: absolute;
        left: 0;
        right: 0;
        @include responsive-property("bottom", -45, -28px, -45px);
        text-align: center;
    }
    .bx-wrapper .bx-viewport .slide:after {
        display: none;
    }
    .facts-slider {
        text-align: center;
        position: relative;
        width: 100%;
        font-size: 0;
        white-space: nowrap;
        overflow: hidden;
        
        .slide {
            width: 100%;
            display: inline-block;
            vertical-align: top;
            background: #FFF;     
            @include responsive-property("padding-left", 95, 55px, 95px);
            @include responsive-property("padding-right", 95, 55px, 95px);
            @include responsive-property("padding-top", 60, 40px, 60px);
            @include responsive-property("padding-bottom", 45, 20px, 45px); 
        }     
        p {
            @include first-font-family();
            @include responsive-property("font-size", 40, 20px, 40px);
            @include responsive-property("line-height", 45, 24px, 45px);
            margin: 0;
            color: $fayetteville-facts-txt-color;
            text-transform: uppercase;
            text-align: center;
        }
       .slide .main-color {
            color: $links-color;
        }
    }
    .bx-viewport .facts-slider {
        white-space: normal;
        overflow: visible;
        
        .slide {
            display: block;
        }
    } 
}
  
